{% extends 'base.html' %}

 {% block head %}
 <title>Add Item</title>
 {% endblock %}

 {% block body %}
 <div class="contet">
    <h2>Add New Item</h2>
    <form>
        <label for="item_name">Item Name</label>
        <input name="item_name" id="item_name" required><br>
        <label for="item_count">Item Count</label>
        <input name="item_count" id="item_count" required><br>
        <label for="days_to_exp">Days until expiration</label>
        <input name="days_to_exp" id="days_to_exp" required><br>
        <label for="item_location">Item Location</label>
        <input name="item_location" id="item_location" required><br>
    </form>
 </div>
 {% endblock %}
