 {% extends 'base.html' %}

 {% block head %}
 <title>Fridge Contents</title>
 {% endblock %}

 {% block body %}
 <div class="contet">
    <h2>Fridge App</h2><br>
   <!-- <button class="addbtn">Add Item</button> -->
    <a href="{{url_for('add_Item')}}" class="button">Add Item</a> 
    <table>
        <tr>
            <th>Item</th>
            <th>Count</th>
            <th>Bought</th>
            <th>Opened</th>
            <th>Expires in:</th>
            <th>Location</th>
            <th>Edit</th>
        </tr>
        <tr>
            <td>name</td>
            <td>count</td>
            <td>date</td>
            <td>date</td>
            <td>days</td>
            <td>shelf</td>
            <td>
                <button class="editbtn">Edit</button>
                <button class="deletebtn">Delete</button>
            </td>
        </tr>    
    </table>
 </div>
 {% endblock %}


