{% extends 'base.html' %}

 {% block head %}
 <title>Edit Item</title>
 {% endblock %}

 {% block body %}

 {% for message in get_flashed_messages() %}
 
    <!-- Message that appears above when submitted successfully-->
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
         {{message}}
        <button type="button" class="btn-close" 
        data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   
 {% endfor%}
 <div class="contet">
    <h2>Edit Item</h2><br>
    <form method = "POST">
        {{form.hidden_tag()}}<br>
        {{form.item_name.label()}} 
            {{form.item_name()}}<br>
        {{form.item_count.label}} 
            {{form.item_count()}}<br>
        {{form.days_to_exp.label}}
            {{form.days_to_exp()}}<br>
        {{form.item_location.label}}
             {{form.item_location()}}<br>
        {{form.submit()}}
    </form>
 </div>
 {% endblock %}